<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Clasificación Zonas</h4>
                    </div>
                    <div class="card-body">


                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">

                            <agm-circle *ngFor="let marker of allMarkers" [latitude]="marker.latitude"
                                [longitude]="marker.longitude" [radius]="500" [fillColor]="'green'">


                            </agm-circle>
                            <agm-marker *ngFor="let marker of allMarkers" [latitude]="marker.latitude"
                                [longitude]="marker.longitude">

                                <agm-info-window [disableAutoPan]="true">
                                    {{marker.Borough}}, {{marker.Name}}, <strong> Zona {{marker.label}}</strong>
                                </agm-info-window>

                            </agm-marker>

                        </agm-map>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="form-control">
                                        <label class="radio-inline">
                                            <input type="radio" value="segura" name="zona" [(ngModel)]="zona">
                                        </label>
                                        <label class="radio-inline">
                                                <input type="radio" value="peligrosa" name="zona" [(ngModel)]="zona"
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Full header coloured</h4>

                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>